In [11]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from scipy.stats import sem

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load (Remember to Change These)
mouse_drug_data_to_load = "data/mouse_drug_data.csv"
clinical_trial_data_to_load = "data/clinicaltrial_data.csv"

# Read the Mouse and Drug Data and the Clinical Trial Data
mouse_data = pd.read_csv(mouse_drug_data_to_load)
trial_data = pd.read_csv(clinical_trial_data_to_load)

# Combine the data into a single dataset
trial_data_combined = pd.merge(trial_data, mouse_data, how="left", on=["Mouse ID","Mouse ID"])

# Display the data table for preview
trial_data_combined.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites       Drug
0     b128          0                45.0                 0  Capomulin
1     f932          0                45.0                 0   Ketapril
2     g107          0                45.0                 0   Ketapril
3     a457          0                45.0                 0   Ketapril
4     c819          0                45.0                 0   Ketapril

## Tumor Response to Treatment

In [12]:
# Store the Mean Tumor Volume Data Grouped by Drug and Timepoint 
tumor_volume_means= trial_data_combined.groupby(["Drug","Timepoint"])["Tumor Volume (mm3)"].mean() 

# Convert to DataFrame
tumor_volume_means_df= pd.DataFrame(tumor_volume_means)

# Reset index
tumor_volume_means_df = tumor_volume_means_df.reset_index()

# Preview DataFrame
tumor_volume_means_df.head()

        Drug  Timepoint  Tumor Volume (mm3)
0  Capomulin          0           45.000000
1  Capomulin          5           44.266086
2  Capomulin         10           43.084291
3  Capomulin         15           42.064317
4  Capomulin         20           40.716325

In [13]:
# Store the Standard Error of Tumor Volumes Grouped by Drug and Timepoint
tumor_volume_ses = trial_data_combined.groupby(["Drug", "Timepoint"])["Tumor Volume (mm3)"].sem()

# Convert to DataFrame
tumor_volume_ses_df = pd.DataFrame(tumor_volume_ses)
tumor_volume_ses_df = tumor_volume_ses_df.reset_index()

# # Preview DataFrame
tumor_volume_ses_df.head()

        Drug  Timepoint  Tumor Volume (mm3)
0  Capomulin          0            0.000000
1  Capomulin          5            0.448593
2  Capomulin         10            0.702684
3  Capomulin         15            0.838617
4  Capomulin         20            0.909731

In [14]:
# Minor Data Munging to Re-Format the Data Frames
tumor_volume_means_df = tumor_volume_means_df.pivot(index="Timepoint", columns="Drug",values="Tumor Volume (mm3)")

# Preview that Reformatting worked
tumor_volume_means_df

#tumor_volume_ses_df = tumor_volume_ses_df.pivot(index="Timepoint", columns="Drug",values="Tumor Volume (mm3)")

# Preview that Reformatting worked
#tumor_volume_ses_df.head()

Drug,Capomulin,Ceftamin,Infubinol,Ketapril,Naftisol,Placebo,Propriva,Ramicane,Stelasyn,Zoniferol
Timepoint,,,,,,,,,,
0,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000
5,44.266086,46.503051,47.062001,47.389175,46.796098,47.125589,47.248967,43.944859,47.527452,46.851818
10,43.084291,48.285125,49.403909,49.582269,48.694210,49.423329,49.101541,42.531957,49.463844,48.689881
15,42.064317,50.094055,51.296397,52.399974,50.933018,51.359742,51.067318,41.495061,51.529409,50.779059
20,40.716325,52.157049,53.197691,54.920935,53.644087,54.364417,53.346737,40.238325,54.067395,53.170334
25,39.939528,54.287674,55.715252,57.678982,56.731968,57.482574,55.504138,38.974300,56.166123,55.432935
30,38.769339,56.769517,58.299397,60.994507,59.559509,59.809063,58.196374,38.703137,59.826738,57.713531
35,37.816839,58.827548,60.742461,63.371686,62.685087,62.420615,60.350199,37.451996,62.440699,60.089372
40,36.958001,61.467895,63.162824,66.068580,65.600754,65.052675,63.045537,36.574081,65.356386,62.916692
45,36.236114,64.132421,65.755562,70.662958,69.265506,68.084082,66.258529,34.955595,68.438310,65.960888

In [15]:
# Generate the Plot (with Error Bars)

# Save the Figure

In [16]:
# Show the Figure
plt.show()

![Tumor Response to Treatment](../Images/treatment.png)

## Metastatic Response to Treatment

In [17]:
# Store the Mean Met. Site Data Grouped by Drug and Timepoint 
metastatic_means = trial_data_combined.groupby(["Drug", "Timepoint"])["Metastatic Sites"].mean()

# Convert to DataFrame
metastatic_means_df = pd.DataFrame(metastatic_means)
metastatic_means_df = metastatic_means_df.reset_index()
# Preview DataFrame
metastatic_means_df.head()

        Drug  Timepoint  Metastatic Sites
0  Capomulin          0          0.000000
1  Capomulin          5          0.160000
2  Capomulin         10          0.320000
3  Capomulin         15          0.375000
4  Capomulin         20          0.652174

In [18]:
# Store the Standard Error associated with Met. Sites Grouped by Drug and Timepoint 
metastatic_ses = trial_data_combined.groupby(["Drug", "Timepoint"])["Metastatic Sites"].sem()

# Convert to DataFrame
metastatic_ses_df = pd.DataFrame(metastatic_ses)
metastatic_ses_df = metastatic_ses_df.reset_index()


# # Preview DataFrame
metastatic_ses_df.head()

        Drug  Timepoint  Metastatic Sites
0  Capomulin          0          0.000000
1  Capomulin          5          0.074833
2  Capomulin         10          0.125433
3  Capomulin         15          0.132048
4  Capomulin         20          0.161621

In [19]:
# Minor Data Munging to Re-Format the Data Frames
metastatic_means_df = metastatic_means_df.pivot(index="Timepoint", columns="Drug",values="Metastatic Sites")

# Preview that Reformatting worked
metastatic_means_df.head()

metastatic_ses_df = metastatic_ses_df.pivot(index="Timepoint", columns="Drug",values="Metastatic Sites")

# Preview that Reformatting worked
metastatic_ses_df.head(20)

Drug,Capomulin,Ceftamin,Infubinol,Ketapril,Naftisol,Placebo,Propriva,Ramicane,Stelasyn,Zoniferol
Timepoint,,,,,,,,,,
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.074833,0.108588,0.091652,0.098100,0.093618,0.100947,0.095219,0.066332,0.087178,0.077709
10,0.125433,0.152177,0.159364,0.142018,0.163577,0.115261,0.105690,0.090289,0.123672,0.109109
15,0.132048,0.180625,0.194015,0.191381,0.158651,0.190221,0.136377,0.115261,0.153439,0.111677
20,0.161621,0.241034,0.234801,0.236680,0.181731,0.234064,0.171499,0.119430,0.200905,0.166378
25,0.181818,0.258831,0.265753,0.288275,0.185240,0.263888,0.199095,0.119430,0.219824,0.236621
30,0.172944,0.249479,0.227823,0.347467,0.266667,0.300264,0.266469,0.139968,0.230641,0.248168
35,0.169496,0.266526,0.224733,0.361418,0.330464,0.341412,0.366667,0.145997,0.240983,0.285714
40,0.175610,0.289128,0.314466,0.315725,0.321702,0.297294,0.433903,0.160591,0.312815,0.299791
45,0.202591,0.286101,0.309320,0.278722,0.351104,0.304240,0.428571,0.190221,0.359062,0.286400

In [20]:
# Generate the Plot (with Error Bars)

# Save the Figure

# Show the Figure

![Metastatic Spread During Treatment](../Images/spread.png)

## Survival Rates

In [21]:
# Store the Count of Mice Grouped by Drug and Timepoint (W can pass any metric)
mice_survival_rate = trial_data_combined.groupby(["Drug", "Timepoint"])["Mouse ID"].count()
mice_survival_rate
# Convert to DataFrame
mice_survival_rate_df = pd.DataFrame(mice_survival_rate)
mice_survival_rate_df = mice_survival_rate_df.reset_index()
#  Preview DataFrame
mice_survival_rate_df.head()

        Drug  Timepoint  Mouse ID
0  Capomulin          0        25
1  Capomulin          5        25
2  Capomulin         10        25
3  Capomulin         15        24
4  Capomulin         20        23

In [22]:
# Minor Data Munging to Re-Format the Data Frames
mice_survival_rate_df=mice_survival_rate_df.pivot(index="Timepoint", columns ="Drug", values="Mouse ID")

# Preview the Data Frame
mice_survival_rate_df.head()

Drug,Capomulin,Ceftamin,Infubinol,Ketapril,Naftisol,Placebo,Propriva,Ramicane,Stelasyn,Zoniferol
Timepoint,,,,,,,,,,
0,25,25,25,25,25,25,26,25,26,25
5,25,21,25,23,23,24,25,25,25,24
10,25,20,21,22,21,24,23,24,23,22
15,24,19,21,19,21,20,17,24,23,21
20,23,18,20,19,20,19,17,23,21,17

In [23]:
# Generate the Plot (Accounting for percentages)

# Save the Figure


# Show the Figure
plt.show()

![Metastatic Spread During Treatment](../Images/survival.png)

## Summary Bar Graph

In [37]:
# Calculate the percent changes for each drug
pct_change= 100*(tumor_volume_means_df.iloc[tumor_volume_means_df.shape[1]-1]- \
            tumor_volume_means_df.iloc[0])/tumor_volume_means_df.iloc[0]
# Display the data to confirm
pct_change

Drug
Capomulin   -19.475303
Ceftamin     42.516492
Infubinol    46.123472
Ketapril     57.028795
Naftisol     53.923347
Placebo      51.297960
Propriva     47.241175
Ramicane    -22.320900
Stelasyn     52.085134
Zoniferol    46.579751
dtype: float64

In [35]:
# Store all Relevant Percent Changes into a Tuple
# changes=(pct_change)
# changes[0]

# Splice the data between passing and failing drugs


# Orient widths. Add labels, tick marks, etc. 


# Use functions to label the percentages of changes


# Call functions to implement the function calls


# Save the Figure


# Show the Figure
#fig.show()

-19.475302667894173

![Metastatic Spread During Treatment](../Images/change.png)